/*
 * This file is part of Depesha.

 * Depesha is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.

 * Depesha is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.

 * You should have received a copy of the GNU General Public License
 * along with Depesha.  If not, see <https://www.gnu.org/licenses/>.
*/

.friend {
    height: 6vh;
    display: grid;
    grid-template-columns: min(3.375vw, 6vh) auto repeat(3, min(3.375vw, 6vh) );
}

.friend > .el {
    border: 1px solid var(--color_4);
    display: grid;
    /* TODO radius */
    border-radius: 10px;
}

.friend > .el > .picture {
    width: min(2.81vw, 5vh);
    height: min(2.81vw, 5vh);
    background-color: var(--color_4);
    position: relative;
    margin: auto;
    border-radius: 50%;
}

.friend > .el > .picture > .red_point {
    background-color: var(--color_2);
    position: absolute;
    right: 0;
    border-radius: 50%;
    width: min(1vw, 1.78vh);
    height: min(1vw, 1.78vh);
    transition: transform .125s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.friend > .el > .nickname {
    user-select: none;
    color: var(--color_2);
    font-family: text;
    font-size: min(2.3vh, 1.2vw);
    /* TODO from radius */
    padding: 10px;
    text-decoration: none;
    align-self: center;
}

.friend > .el > .nickname:hover {
    text-decoration: underline;
}

.friend > .el > .button {
    border-radius: 0;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: scale(0.6);
    transition: transform .25s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.friend > .el:hover > .button {
    transition: transform .5s cubic-bezier(0.34, 1.56, 0.64, 1);
    transform: scale(.85);
}

.friend > .el:active > .button {
    transition: transform .125s cubic-bezier(0.34, 1.56, 0.64, 1);
    transform: scale(.5);
}

.friend > .el > .call {
    background-image: url(../materials/picture/call.svg);
}

.friend > .el > .chat {
    background-image: url(../materials/picture/chat.svg);
}

.friend > .el > .delete {
    background-image: url(../materials/picture/delete.svg);
}

.friend > .el > .add_friend {
    background-image: url(../materials/picture/add_friend.svg);
}
