.el{
    height: 6vh;
    display: grid;
    grid-template-columns: .5fr 2fr repeat(3, .5fr);
}
.el .ell{
    border: 1px solid var(--color_line);
    display: grid;
    border-radius: 10px;
}
.el .ell .center{
    width: min(3.8vw, 5.3vh);
    height: min(3.8vw, 5.3vh);
    border-radius: 50%;
    margin: auto;
}
.el .ell .picture{
    width: min(4vw, 5vh);
    height: min(4vw, 5vh);
    background-color: var(--color_1);
}
.el .ell .nickname{
    user-select: none;
    border-radius: 0;
    width: auto;
    height: auto;
    color: var(--color_4);
    font-family: text;
    font-size: min(2.3vh, 1.2vw);
    padding: .25vw;
    text-decoration: none;
}
.el .ell .nickname:hover{
    text-decoration: underline;
}
.el .ell .u:hover{
    text-decoration: none;
}
.el .ell .button{
    transform: scale(0.75);
    border-radius: 0;
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;
    transition: transform .25s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.el .e{
    background-color: transparent;
}
.el .e:hover{
    background-color: var(--color_3_hover);
}
.el .e:active{
    background-color: var(--color_3);
}
.el .e:hover .button{
    transition: transform .5s cubic-bezier(0.34, 1.56, 0.64, 1);
    transform: scale(1.05);
}
.el .e:active .button{
    transition: transform .125s cubic-bezier(0.34, 1.56, 0.64, 1);
    transform: scale(.5);
}
.el .ell .call{
    background-image: url(../materials/picture/call.svg);
}
.el .ell .chat{
    background-image: url(../materials/picture/chat.svg);
}
.el .ell .delete{
    background-image: url(../materials/picture/delete.svg);
}
.el .ell .add_friend{
    background-image: url(../materials/picture/add_friend.svg);
}
.el .ell .delete_application{
    background-image: url(../materials/picture/close_win.svg);
}
