/*
 * This file is part of Depesha.

 * Depesha is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.

 * Depesha is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.

 * You should have received a copy of the GNU General Public License
 * along with Depesha.  If not, see <https://www.gnu.org/licenses/>.
*/

.left_panel {
    position: absolute;
    top: 50vh;
    width: 35vw;
    height: 70vh;
    transform: translateY(-50%) translateX(-27.97vw);
    transition: transform .3s cubic-bezier(0.5, 0, 0.15, 1);
    display: grid;
    grid-template-columns: 27.97vw min(1.3vw, 2.3vh, 15px) auto;
}

.left_panel:hover, .left_panel.focus {
    transform: translateY(-50%) translateX(0);
}

.left_panel > .background {
    background-color: var(--color_4);
    display: grid;
    grid-template-rows: 60vh 10vh;
}

.left_panel > .background > .content {
    background-color: var(--color_1);
    padding: min(1.04vw, 1.85vh);
}

.left_panel > .background > .content > .window {
    width: 100%;
    height: 100%;
    background-color: var(--color_3);
    border-radius: 5px;
}

.left_panel > .background > .down {
    display: grid;
}

.left_panel > .background > .down > .bar_for_btn {
    position: absolute;
    width: 27.97vw;
    bottom: 0;
    height: 4.35vh;
    border-radius: 4.35vh 4.35vh 0 0;
    background-color: var(--color_5);
}

.left_panel > .background > .down  > .btns {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    width: 25vw;
    height: 7vh;
}

.left_panel > .background > .down  > .btns > .container {
    margin: auto;
    height: min(6.25vh,3vw);
    width: min(6.25vh,3vw);
    border-radius: 50%;
    transition: transform .25s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.left_panel > .background > .down  > .btns > .container:hover {
    transform: scale(1.25);
    transition: transform .5s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.left_panel > .background > .down  > .btns > .container > .btn {
    width: 100%;
    height: 100%;
    background-color: var(--color_btn);
    border-radius: 50%;
    background-size: 75%;
    transition: transform .25s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.left_panel > .background > .down  > .btns > .container:active > .btn {
    transform: scale(.75);
    transition: .1s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.left_panel > .background > .down  > .btns > .container > .btn.mic {
    background-image: url(../materials/picture/microphone.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.left_panel > .background > .down  > .btns > .container > .btn.bye {
    background-image: url(../materials/picture/call_stop.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--color_2);
}

.left_panel > .background > .down  > .btns > .container > .btn.headphone {
    background-image: url(../materials/picture/sound.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.left_panel > .background > .down  > .btns > #microphone:checked ~ .container > .btn.mic {
    background-image: url(../materials/picture/off_microphone.svg);
}

.left_panel > .background > .down  > .btns > #earphone:checked ~ .container > .btn.headphone {
    background-image: url(../materials/picture/off_sound.svg);
}

.left_panel > .tab {
    border-left: 1px solid var(--color_4);
    background-color: var(--color_tab);
    background-image: url(../materials/picture/arrowR.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 0 1.1vw 1.1vw 0;
}
