/*
 * This file is part of Depesha.

 * Depesha is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.

 * Depesha is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.

 * You should have received a copy of the GNU General Public License
 * along with Depesha.  If not, see <https://www.gnu.org/licenses/>.
*/

:root {
    --color_1: #3F3A66;
    --color_2: #79ADBF;
    --color_3: #2F2B4C;
    --color_4: #26233E;
    --color_5: #373259;
    --color_scroll: #130F26;
    --color_bg: #171526;
    --color_btn: #454399;
    --color_tab: #64497F;
    --color_important: #260000;
    --color_shadow: #0D0C14;
    --color_online: #32ADD9;
    --color_idle: #D92E9D;
    --placeholder_text: #2C2847;
}
@font-face {
    font-family: text;
    src: url(../materials/font/text.ttf);
}
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::-webkit-scrollbar {
    width: .5vw;
    background-color: var(--color_scroll);
    /* TODO radius */
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
    border: 1px var(--color_scroll) solid;
    background-color: var(--color_tab);
    /* TODO radius */
    border-radius: 10px;
}

input {
    outline: none;
    border: none;
    font-family: text;
}

input::placeholder, textarea::placeholder {
    color: var(--placeholder_text);
}

body #background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -5;
    background-color: var(--color_bg);
    overflow: hidden;
}

#start {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: var(--color_bg);
    opacity: 100;
    transition: opacity .75s cubic-bezier(0.42,0,0.58,1);
}

.drag {
    position: absolute;
    top: 0;
    left: 15vw;
    width: 70vw;
    height: 2vh;
    z-index: 100;
    background-color: var(--color_3);
    -webkit-app-region: drag;
}
