:root {
    --color_1: #191729;
    --color_2: #413C69; /* main */
    --color_3: #343055;
    --color_3_hover: #2F2B4D;
    --color_3_active: #2A2745;
    --color_4: #A7C5EB; /* main */
    --color_btn: #4A47A3;
    --color_drag: #373359;
    --color_line: #26233E;
    --color_text: #709FB0; /* main */
    --color_tab: #523C69;
    --color_important: #2B0000;
    --color_shadow: #0d0c14;
    --placeholder_text: #2C2847;
    --border_round_1: min(10vw, 19vh); /*180px*/
    --border_round_2: min(1.3vw, 2.3vh) /*25px*/
}
@font-face {
    font-family: text;
    src: url(../materials/font/text.ttf);
}
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*::-webkit-scrollbar {
    width: .5vw;
    background-color: var(--color_1);
    border-radius: var(--border_round_1);
}
*::-webkit-scrollbar-thumb {
    border: 1px var(--color_1) solid;
    background-color: var(--color_tab);
    border-radius: var(--border_round_2);
}
input {
    outline: none;
    border: none;
    font-family: text;
}
input::placeholder, textarea::placeholder {
    color: var(--placeholder_text);
}
body #background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -5;
    background-color: var(--color_1);
    overflow: hidden;
}
#start {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: var(--color_1);
    opacity: 100;
    transition: opacity .75s cubic-bezier(0.42,0,0.58,1);
}
.drag {
    position: absolute;
    top: 0;
    left: 15vw;
    width: 70vw;
    height: 2vh;
    z-index: 100;
    background-color: var(--color_drag);
    -webkit-app-region: drag;
}