/*
 * This file is part of Depesha.

 * Depesha is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.

 * Depesha is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.

 * You should have received a copy of the GNU General Public License
 * along with Depesha.  If not, see <https://www.gnu.org/licenses/>.
*/

.program_btn {
    display: grid;
    grid-template-columns: 1fr 1px 1fr 1px 1fr ;
    position: absolute;
    left: 90vw;
    top: 0;
    width: 10vw;
    height: 3vh;
    min-height: 20px;
    background-color: var(--color_1);
    /* TODO */
    border-radius: 0 0 0 min(3vh, 20px);
}

.program_btn > .win_btn {
    transition: background-color .5s cubic-bezier(0.42,0,0.58,1);
    background-size: 100% 100%;
    background-position: center;
    z-index: 2;
}

.program_btn > .win_btn:hover {
    transition: .1s cubic-bezier(0.42,0,0.58,1);
    background-color: var(--color_btn);
}

.program_btn > .win_btn:active {
    transition: .1s cubic-bezier(0.42,0,0.58,1);
    background-color: var(--color_2);
}

.program_btn > .button_close {
    background-image: url(../materials/picture/close_win.svg);
    background-repeat: no-repeat;
}

.program_btn > .button_full {
    background-image: url(../materials/picture/full_win.svg);
    background-repeat: no-repeat;
}

.program_btn > .button_hide {
    /* TODO */
    border-radius: 0 0 0 min(3vh, 20px);
    background-image: url(../materials/picture/roll_down.svg);
    background-repeat: no-repeat;
}

.program_btn > .line {
    background-color: var(--color_4);
}

