/*
 * This file is part of Depesha.

 * Depesha is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.

 * Depesha is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.

 * You should have received a copy of the GNU General Public License
 * along with Depesha.  If not, see <https://www.gnu.org/licenses/>.
*/

.up_panel {
    position: absolute;
    left: 15vw;
    top: 2vh;
    width: 70vw;
    height: 7vh;
    min-height: 30px;
    display: grid;
    grid-template-columns: 7vh repeat(9, 1fr) 7vh;
    grid-template-rows: 7vh;
    justify-items: center;
    align-items: center;
    background-color: var(--color_2);
    border-radius: 0 0 7vh 7vh;
}

.up_panel > .container_search {
    display: grid;
    grid-column: 2/4;
    width: 75%;
    height: 75%;
    display: grid;
    /* TODO remake */
    border-radius: 250px;
    overflow: hidden;
    grid-template-columns: auto 1px min(2.9vw, 5vh);
}

.up_panel > .container_search > .text {
    width: 100%;
    height: 100%;
    color: var(--color_text);
    font-size: min(2vw,3vh);
    background-color: var(--color_3);
    text-transform: lowercase;
    /* TODO remake */
    padding-left: 1vw;
}

.up_panel > .container_search > .line {
    width: 100%;
    height: 100%;
    background-color: var(--color_line);
}
/* TODO на этом остановился + поменяй цвета */
.up_panel > .container_search > .btn_search {
    width: 100%;
    height: 100%;
    background-color: var(--color_3);
    display: grid;
    align-items: center;
    justify-items: center;
    transition: background-color .1s cubic-bezier(0.42,0,0.58,1);
}

.up_panel > .container_search > .btn_search:hover {
    background-color: var(--color_3_hover);
}

.up_panel > .container_search > .btn_search:active {
    background-color: var(--color_3_active);
}

.up_panel > .container_search > .btn_search > .picture_btn_search {
    position: relative;
    border-radius: 25%;
    left: -.25vh;
    width: min(3.15vh, 2.4vw);
    height: min(3.15vh, 2.4vw);
    background-image: url(../materials/picture/search.svg);
    background-repeat: no-repeat;
    background-size: contain;
    transition: transform .25s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.up_panel > .container_search > .btn_search:hover > .picture_btn_search {
    transform: scale(1.25);
}

.up_panel > .container_search > .btn_search:active > .picture_btn_search {
    transition: transform .1s cubic-bezier(0.34, 1.56, 0.64, 1);
    transform: scale(.75);
}

.up_panel > .btn {
    width: min(5vw, 5.25vh);
    height: min(5vw, 5.25vh);
    transition: transform .25s cubic-bezier(0.34, 1.56, 0.64, 1);
    border-radius: 22px;
}

.up_panel > .btn:hover {
    transform: scale(1.25);
    transition: transform .5s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.up_panel > .btn > .btn_piq {
    width: 100%;
    height: 100%;
    border-radius: 22px;
    background-repeat: no-repeat;
    background-size: contain;
    transition: transform .25s cubic-bezier(0.34, 1.56, 0.64, 1), background-color .1s cubic-bezier(0.42,0,0.58,1);
}

.up_panel > .btn > .btn_piq.more {
    background-image: url(../materials/picture/more.svg);
}

.up_panel > .btn > .btn_piq.mail {
    background-image: url(../materials/picture/mail.svg);
}

.up_panel > .btn > .btn_piq.settings {
    border-radius: 50%;
    transform: rotate(-90deg);
    background-image: url(../materials/picture/settings.svg);
}

.up_panel > .btn:active > .btn_piq {
    transform: scale(.75);
    transition: transform .1s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.up_panel > .profile {
    grid-column: 6/7;
    position: relative;
    top: -12.5vh;
    width: 75%;
    height: 15vh;
    min-height: 75px;
    display: grid;
    grid-template-rows: 7vh auto;
    justify-items: center;
    align-items: center;
    border-radius: 0 0 var(--border_round_2) var(--border_round_2);
    background-color: var(--color_2);
    box-shadow: 0px -1vh 1vw 0.5vw var(--color_shadow);
    transition: top .25s cubic-bezier(0.42,0,0.58,1);
}

.up_panel > .profile:hover {
    top: -7vh;
}

.up_panel > .profile > .status {
    display: grid;
    height: 75%;
    width: 75%;
    overflow: hidden;
    border-radius: var(--border_round_2);
    background-color: var(--color_text);
    transition: transform .25s cubic-bezier(0.42,0,0.58,1), background-color .5s ease-in-out;
}

.up_panel > .profile > .status:hover {
    transform: scale(1.25);
}

.up_panel > .profile > .status > .text {
    margin: auto;
    text-align: justify;
    font-size: min(1vw,2vh);
    font-family: text;
    color: var(--color_important);
    user-select: none;
}

.up_panel > .profile > .container_for_photo {
    height: min(4vw, 7vh);
    width: min(4vw, 7vh);
    margin-bottom: 1vh;
    border-radius: 50%;
    transition: transform .25s cubic-bezier(0.42,0,0.58,1);
}

.up_panel > .profile > .container_for_photo > .photo {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--color_3_active);
    transition: transform .25s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.up_panel > .profile > .container_for_photo:hover {
    transform: scale(1.125);
}

.up_panel > .profile > .container_for_photo:active > .photo {
    transform: scale(.875);
}

